/* General */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #C90132;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
}

/* Utilies */


.flex{
    display: flex;
}

.center{
    justify-content: center;
}

.v_align{
    align-items: center;
}






/* header */

#head {
    background: white;
    height: 80px;
    width: 100%;
    padding: 10px 0;
}

#head img{
    width: 200px;
}

/* Main */

.wrapper{
    flex-direction: column;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.7);
    background: #F8F8F8;
    padding: 10px;
}







.show {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.showDisplay {
    
}

.hiddenDisplay {
    display: none;
}

/* foot */
#foot{
    height: 80px;
    width: 100%;
    background: white;
}