/* General */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #C90132;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
}

/* Utilies */


.flex{
    display: flex;
}

.center{
    justify-content: center;
}

.v_align{
    align-items: center;
}

.show{
    transition: opacity 2s;
    opacity: 1;
}

.hiddenDisplay{
    transition: opacity 2s;
    opacity: 0;
    visibility: hidden;
}

.btn{
    border: 0;
    padding: 10px 20px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
    border-radius: 5px ;
    margin: 15px;
    text-transform: uppercase;
}



/* header */

#head{
    background: white;
    height: 80px;
    width: 100%;
    padding: 10px 0;
}

#head img{
    width: 200px;
}

/* Main */

.wrapper{
    width: 550px;
    min-height: 370px;
    flex-direction: column;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.7);
    border-radius: 5px ;
    background: #F8F8F8;
    padding: 35px 10px 10px;
    position: relative;
}

.wrapper h1{
    text-align: center;
    color: white;
    padding: 5px;
    background: #C41329;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.7);
    border-radius: 5px;
    position: absolute;
    width: 65%;
    top: 0;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 20px;
}

#dati{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.row{
    flex-direction: column;
    text-align: center;
}

.col{
    padding: 10px 0;
}

.col label{
    font-weight: bold;
    display: block;
    padding-bottom: 5px;
}

.col input,
.col select{
    width: 300px;
    padding: 10px;
    border: 0;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.7);
}

#biglietto{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#biglietto > h2{
    color: #056767;
    padding: 5px;
}

#biglietto > h3{
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 15px;
}

.contenuti .nome > h3{
    color: #C41329;
    padding: 5px;
}

.offerta table{
    flex-direction: column;
}


.offerta thead{
    padding: 20px 0 10px;
}

.offerta table tr{
    display: flex;
}

.offerta table th,
.offerta table td{
    display: flex;
    flex-basis: calc(100% /4);
    align-items: center;
    justify-content: space-around;
 }
 
.offerta table td{
color: #C41329;
}

.wrapper > .row{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

#bottoneGenera{
    background: hsl(353, 72%, 55%);
    color: white;
}


/* foot */
#foot{
    height: 80px;
    width: 100%;
    background: white;
    flex-direction: column;
}

#foot h2{
    color: #056767;
}