/* General */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #C90132;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
}

/* Utilies */


.flex{
    display: flex;
}

.center{
    justify-content: center;
}

.v_align{
    align-items: center;
}

.show {
    transition: opacity 2s;
    opacity: 1;
}

.hiddenDisplay {
    transition: opacity 2s;
    opacity: 0;
    visibility: hidden;
   
}




/* header */

#head {
    background: white;
    height: 80px;
    width: 100%;
    padding: 10px 0;
}

#head img{
    width: 200px;
}

/* Main */

.wrapper{
    width: 500px;
    height: 350px;
    flex-direction: column;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.7);
    border-radius: 5px ;
    background: #F8F8F8;
    padding: 40px 10px 10px;
    position: relative;
}

.wrapper h1{
    color: white;
    padding: 5px;
    background: #C41329;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.7);
    border-radius: 5px ;
    position: absolute;
    top: 0;
    transform: translate(25% , -50%);
    font-size: 20px;
}

#dati{
    position: absolute;
    left: 100px;
}

.wrapper > .row{
    position: absolute;
    bottom: 5px;
    left: 200px;
}

.row{
    flex-direction: column;
    text-align: center;
}

.col{
    padding: 10px 0;
}

.col label{
    font-weight: bold;
    display: block;
    padding-bottom: 5px;
}

.col input,
.col select{
    width: 300px;
    padding: 10px;
    border: 0;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.7);
}

#biglietto{
    display: flex;
    flex-direction: column;
    text-align: center;
}





/* foot */
#foot{
    height: 80px;
    width: 100%;
    background: white;
}